header {
    background-color: transparent;
    background-image: url('https://images.ctfassets.net/hrltx12pl8hq/6k1rHUsXFrKeWLBgFErsOP/07981854085cedcec2852953b115057b/shutterstock_794611915.jpg?fit=fill&w=800&h=300');
    padding: 0%;
    margin: 0%;
    color:black;
    text-align:left;

}

body {
    background-color: transparent;
    background-image: url;
    padding: 0%;
    margin: 0%;
    color: black;
    text-align: left;
}


footer {
    background-color: transparent;
    text-align: center;
    padding: 10px;
  }