/* Text */
h1, h2, h3 , h4, h5,  {
    font-family: 'Anton', sans-serif;
  }
  p {
    font-family: 'Jura', sans-serif;
  }

  h6 {
    font-size:small; 
  }
  
  /* Navigation bar */
  
  /* General */
  .customNav {
    position: fixed;
    width: 100%;
    background: url('');
    background-color: transparent !important;
    background-size: cover;
    z-index: 10;
  }
  .navbar-nav {
    margin-left: auto;
    margin-right: 0 !important;
  }
  .navbar-brand img {
    padding-right: 15px;
    width: 65px;
  }
  .nav-item {
    margin: 0px 15px;
  }
  
  /* Navigation dropdown menu */
  .dropdown-menu {
    background: url("../images/transparency.png");
    background-color: transparent !important;
    background-size: cover;
  }
  .dropdown-item:focus, .dropdown-item:hover {
      color: #16181b;
      text-decoration: none;
      background: black;
  }
  
  /* Navigation links */
  .customNav a {
    color: white !important;
  }
  .navCTA {
    font-size: 15px;
  }
  

  /* Jumbotron  */
  .jumbotron {
    background-image: url('../images/background1.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 25px);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Jumbotron copy */
  .jumboCopy {
    width: 70%;
    min-width: 500px;
    max-width: 700px;
    color: white;
    text-align: center;
  }

  
  /* Drop down menu stuff*/
  .dropdown-menu {
    left: -97px;
  }
  footer {
    position: absolute;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
    margin-top: 50px;
  }
  .cardContainer {
    margin-top: 20px;
  }
  .card {
    margin: 0 auto;
  }